.dino.template {
    display: none;
}

.actions {
    float: right;
}

.dino {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border: 2px solid black;
    transition: 0.4s;
}

.dino + .dino {
    border-top: none;
}

.dino:nth-of-type(odd){
    background-color: whitesmoke
}

.dino:nth-of-type(even) {
    background-color: lightgreen;
}

.dino-name {
    flex-grow: 1;
}

.dino-habit {
    font-style: italic;
    padding-left: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.input-group-field {
    margin-bottom: 10px;
}

.input-group-field:hover {
    border: 2px solid green;
    transition-duration: 0.5s;
}

.actions.button-group {
    margin-bottom: 0;
}

.dino.fav {
    background-color: gold;
    border-color: goldenrod;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}